body {
  overflow-x: hidden;
}

.main-image {
  background-color: brown;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99vw;
  height: 29vh;
  position: relative;
  background-attachment: fixed;
}

.filter:after {
  background-color: darkgray;
  display: block;
  height: 100%;
  position: absolute;
  width: 99%;
  z-index: 1;
}

.card-title {
  background-color: white;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 499;
  font-size: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-body {
  background-color: rgb(128, 128, 236)
}