body {
  overflow-x: hidden;
}

.main-image {
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 30vh;
  position: relative;
  background-attachment: fixed;
}

.filter:after {
  background-color: darkgray;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.card-title {
  background-color: darkgray;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-body {
  background-color: burlywood;
}